<p-panel header="Commons Pipes" class="p-2">
  <p>This is Angular commons pipes available in Common Module.</p>
</p-panel>

<div class="grid mt-1">
  <div class="col-12 md:col-4">
    <p-card header="uppercase">
      {{ nameLower }} - {{ nameLower | uppercase }}
    </p-card>
  </div>
  <div class="col-12 md:col-4">
    <p-card header="lowercase">
      {{ nameUpper }} - {{ nameUpper | lowercase }}
    </p-card>
  </div>
  <div class="col-12 md:col-4">
    <p-card header="titlecase">
      {{ nameTitle }} - {{ nameTitle | titlecase }}
    </p-card>
  </div>

  <div class="col-12 md:col-6">
    <p-card header="date format">
      <ul>
        <li>date</li>
        <li>date | date</li>
        <li>date:'short'</li>
        <li>date:'medium'</li>
        <li>date:'long'</li>
        <li>date:'MMMM'</li>
      </ul>
    </p-card>
  </div>

  <div class="col-12 md:col-6">
    <p-card header="examples">
      <ul>
        <li>{{ customDate }}</li>
        <li>{{ customDate | date }}</li>
        <li>{{ customDate | date:'short' }}</li>
        <li>{{ customDate | date:'medium' }}</li>
        <li>{{ customDate | date:'long' }}</li>
        <li>{{ customDate | date:'MMMM' }}</li>
      </ul>
    </p-card>
  </div>
</div>
